torch==2.6.0
numpy==2.3.2
transformers==4.57.3
langchain-core==1.2.5
langchain-text-splitters==0.3.11
sentence-transformers==5.2.0
markdown-it-py==4.0.0
rerankers==0.10.0
tqdm
ipywidgets
openpyxl
openai
pandas
datasets
ipykernel
ragas
rapidfuzz
flashrank
