torch
transformers
langchain
langchain-community
langchain-text-splitters
sentence-transformers
tqdm
ipywidgets
openpyxl
openai
pandas
datasets
ipykernel
ragas
rapidfuzz
flashrank
markdown-it-py
rerankers
