torch
numpy<2
transformers
langchain
sentence-transformers
tqdm
openpyxl
openai
pandas
datasets
langchain-community
ragatouille
jupyter
pdfplumber
ragas
sacrebleu
rapidfuzz
flashrank
markdown-it-py
rerankers